---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import GoogleAnalytics from '../components/GoogleAnalytics.astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.created_at - a.data.created_at,
).filter(post=> import.meta.env.PROD ? post.data.draft !== true : true)
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    {import.meta.env.PROD && <GoogleAnalytics />}
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul class="flex flex-wrap gap-4 md:gap-10">
          {
            posts.map((post) => (
              //md:w-[calc(50%-1rem)]
              <li class="first:w-full first:text-center first:mb-0 w-full text-center group">
                <a href={`/${post.slug}/`}>
                  <p class="text-right text-sm text-zinc-400 tracking-tighter font-thin italic">
                    <FormattedDate date={post.data.created_at} />
                  </p>
                  <h2 class="text-3xl font-semibold tracking-tight text-zinc-700 text-center  mt-1 group-hover:underline underline-offset-4  ">
                    {post.data.title}
                  </h2>
                  <p class="relative z-10 mt-1.5 text-zinc-600 relin-paragraph-target text-justify indent-8">
                    {post.data.description}
                  </p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
