---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import GoogleAnalytics from '../components/GoogleAnalytics.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, created_at, updated_at, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style >
      main {
        width: calc(100% - 2em);
        max-width: 100%;
        margin: 0;
      }

      .body :global(h2) {
    color: blue;
  }
         </style>
  </head>

  <body>
    <Header />
    <main >
      <article>
        <div class="prose">
          <div class="mb-4 py-4 text-center leading-none">
            <div class="text-right text-sm text-zinc-400 tracking-tighter italic">
              <FormattedDate date={created_at} />
              {
                updated_at && updated_at > created_at && (
                  <div class="last-updated-on">
                    最后更新于 <FormattedDate date={updated_at} />
                  </div>
                )
              }
            </div>
            <h1 class="text-4xl font-semibold tracking-tight text-zinc-700 text-center mt-2 ">{title}</h1>
            <hr class="mt-2"/>
          </div>
          <div class="body">
            <slot />
          </div>
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
